/* Eastablish body parameters */
body {
	background-image: url("images/circlesbg.png");
	background-color: #D7CFC3;
	color: #777777;
	margin: 0px auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	max-width: 960px;
}
/* Create Heading block */
h1 {
	background-color: #4AAAA5;
	display: inline-block;
	padding: 25px 10px 0px 10px;
	height: 80px;
	margin: 0px auto;
	font-family: "Georgia", Times, "Times New Roman", serif;
	color: #FFFFFF;
}
h1,
h2,
h3 {
	font-weight: bold;
}
section {
	background-color: #ffffff;
}
/*Establishes header on top */
header {
	background-color: #FFFFFF;
	border-bottom: solid 2px #cccccc;
	margin: 0px auto;
	width: 100%;
	height: 80px;
	top: 0px;
	position: fixed;
	z-index: 999;
	right: 0px;
}
/* establishes tranparency on scroll */
body.scrolled #main-menu {
	opacity: 0.2;
	transition: opacity .2s;
	z-index: 998;
	position: absolute;
}
body.scrolled #main-menu:hover {
	opacity: 1.0;
	transition: opacity .2s;
	z-index: 997;
	position: absolute;
}
/* Makes sure heading and contents line up */
.banner {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	height: 60px;
	position: relative;
}
/* Navbar parameters established */
nav {
	float: right;
	margin-top: 25px;
}
nav a {
	flex: 1;
  	display: inline-block;
 	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: #999;
	text-decoration: none;
}

/* Establish main unique block on each page */
.content {
	border: solid 2px #dddddd;
	float: left;
	margin: 115px 0px 100px 0px;
	padding: 30px;
}
/* Link attributes including hover */
a {
	color: #777777;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
a:hover {
	color: #4AAAA5;
}
/* Establishing heading fonts  for container and connect box*/
h2 {
	color: #4AAAA5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	border-bottom: solid 3px #dddddd;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
h3 {
	color: #4AAAA5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	border-bottom: solid 1px #dddddd;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
/* adjusts line height and paragraphs for the about me section */
p {
	line-height: 2.5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 0px;
	color: #777777;
}
/* My picture on the index file */
#face {
	float: left;
	display: inline;
	margin-top: 10px;
	margin-right: 15px;
	width: 380px;
}
/* Connections box parameters with icons */
.connect {
	border: solid 2px #dddddd;
	float: none;
	margin: 115px 0px 100px 0px;
	padding: 30px;
	overflow: auto;
}
/* Establish icon aesthetics and behaviors with hover features */
.icons {
	display: inline-block;
	margin: 0px 5px 30px 0px;
	width: 60px;
	height: 60px;
}
.icons:hover {
	box-shadow: 4px 4px 2px #4AAAA5;
}
/* cat pictures and parameters established with hover features*/
.cats {
	display: flex;
	justify-content: space-around;
	width: 230px;
	z-index: 16;
}
.cats:hover {
	box-shadow: 4px 4px 2px #4AAAA5;
	z-index: 17;
}
.image {
   position: relative;
   display: inline-block;
   z-index: 1;
}

img {
	z-index: 20;
}
/* establishes parameters for banners over the cat images */
h4 {
   position: absolute;
   width: 230px;
   background-color: #4AAAA5;
   color: #FFFFFF;
   font-family: "Georgia", Times, "Times New Roman", serif;
   text-align: center;
   padding: 10px 0px 10px 0px;
   margin: auto;
   left: 0px;
   bottom: 50px;
}
/* Establishes sticky footer */
footer {
	background-color: #666666;
	opacity: 0.85;
	text-align: center;
	border-top: solid 6px #4AAAA5;
	position: fixed;
	width: 100%;
	bottom: 0px;
	right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #BFBEBC;
	font-size: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	z-index: 96;
}
/* Establishes input attributes for the contact/ message form. */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #4AAAA5;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
/* Makes the Submit button change color when mouse hovers over */
input[type=submit]:hover {
    background-color: #666666;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #666666;
    opacity: 0.5 !important;
}
label {
	color: #8F7E7F;
}