
/* Eastablish body parameters */
body {
	background-image: url("../images/circlesbg.png");
	background-color: #D7CFC3;
	color: #777777;
	margin: 0px auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Create Heading block */
h1 {
	background-color: #4AAAA5;
	display: inline-block;
	padding: 25px 20px 0px 20px;
	height: 55px;
	margin: 0px auto;
	font-family: "Georgia", Times, "Times New Roman", serif;
	color: #FFFFFF;
	font-size: 36px;
	text-shadow:
			-1px -1px 0 #D9AF8B,  
			1px -1px 0 #D9AF8B,
			-1px 1px 0 #D9AF8B,
			1px 1px 0 #D9AF8B;
}

h1,
h2,
h3 {
	font-weight: bold;
}

section {
	background-color: #ffffff;
}

/*Establishes header on top */
header {
	background-color: #FFFFFF;
	border-bottom: solid 2px #cccccc;
	margin: 0px auto;
	width: 100%;
	height: 80px;
	top: 0px;
	position: fixed;
	z-index: 999;
	box-shadow: 3px 3px 10px #666972;
}

/* establishes tranparency on scroll */
body.scrolled #main-menu {
	opacity: 0.2;
	transition: opacity .2s;
	z-index: 998;
	position: absolute;
}

body.scrolled #main-menu:hover {
	opacity: 1.0;
	transition: opacity .2s;
	z-index: 997;
	position: absolute;
}

/* Makes sure heading and contents line up */
.banner {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	height: 60px;
	position: relative;
}

/* Navbar parameters established */
nav {
  float: right;
  margin-top: 25px;
}

nav a {
	flex: 1;
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
}

nav a:hover {
	box-shadow: 2px 2px 4px #7B7B7B;
	background-color: #F9FAF9;
	border-radius: 4px;
	padding: 0px 8px;
}

.active {
	background-color: #cccccc;
	border-radius: 4px;
	padding: 0px 8px;
	color: #FFFFFF;
}

.active:hover {
	box-shadow: 2px 2px 4px #7B7B7B;
	background-color: #cccccc;
}

/* Establishes main container parameters (content and connect blocks) */
.container {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
}
/* Establish main unique block on each page */
.content {
	width: 55%;
	border: solid 2px #dddddd;
	float: left;
	margin: 115px 0px 200px 0px;
	padding: 30px;
	box-shadow: 3px 3px 10px #666972;
}
/* Link attributes including hover */
a {
	color: #777777;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
a:hover {
	color: #4AAAA5;
}
/* Establishing heading fonts  for container and connect box*/
h2 {
	color: #4AAAA5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	border-bottom: solid 3px #dddddd;
	padding-bottom: 20px;
	margin-bottom: 10px;
	font-size: 32px;
}
h3 {
	color: #4AAAA5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	border-bottom: solid 1px #dddddd;
	padding-bottom: 20px;
	margin-bottom: 10px;
	font-size: 24px;
}
/* adjusts line height and paragraphs for the about me section */
p {
	line-height: 2.5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 0px;
	color: #777777;
}
/* My picture on the index file */
#face {
	float: left;
	display: inline;
	margin-top: 10px;
	margin-right: 15px;
	max-width: 380px;
	width: 100%;
}
/* Connections box parameters with icons */
.connect {
	width: 25%;
	border: solid 2px #dddddd;
	float: right;
	margin-top: 115px;
	padding: 30px;
	box-shadow: 3px 3px 10px #666972;
}
/* Establish icon aesthetics and behaviors with hover features */
.icons {
	display: inline-block;
	margin: 0px 10px 30px 0px;
	width: 60px;
	height: 60px;
}
.icons:hover {
	box-shadow: 4px 4px 2px #4AAAA5;
}
/* portfolio pictures and parameters established with hover features*/
.work {
	width: 220px;
	height: 180px;
	z-index: 16;
	margin: 15px 15px 15px 0px;
	border: 3px solid #D9AF8B;
}
.work:hover {
	box-shadow: 4px 4px 2px #4AAAA5;
	z-index: 17;
}
.image {
   position: relative;
   display: inline-block;
   z-index: 1;
}
img {
	z-index: 20;
}
img:hover {
	box-shadow: 4px 4px 2px #4AAAA5;
}
/* establishes parameters for banners over the portfolio images */
h4 {
   position: absolute;
   width: 100%;
   max-width: 220px;
   background-color: #4AAAA5;
   color: #FFFFFF;
   font-family: "Georgia", Times, "Times New Roman", serif;
   text-align: center;
   padding: 5px 0px;
   margin: auto;
   left: 3px;
   top: 105px;
   height: 65px;
   font-weight: bold;
   font-size: 20px;
}
/* Establishes sticky footer */
footer {
	background-color: #666666;
	opacity: 0.85;
	text-align: center;
	border-top: solid 6px #4AAAA5;
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #BFBEBC;
	font-size: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	z-index: 96;
	box-shadow: 3px -3px 10px #7B7B7B;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
/* Establishes input attributes for the contact/ message form. */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #4AAAA5;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
/* Makes the Submit button change color when mouse hovers over */
input[type=submit]:hover {
    background-color: #666666;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #666666;
    opacity: 0.5 !important;
}
label {
	color: #8F7E7F;
}
script {
	z-index: 995;
}
/* Establishes behavior for smaller screens that are 980p or smaller */
@media screen and (max-width: 980px) {
	/* Establishes dimensions for the main content area and banner */
	.banner {
		max-width: 920px;
		width: 100%;
	}
	.container {
		max-width: 920px;
		width: 100%;
	}
	.icons {
		margin: 0px 5px 30px 0px;
	}
}
/* Establishes page behavior when screen is 768p or smaller */
@media screen and (max-width: 768px) {
	/*Establishes main content parameters */
	.container {
		width: 100%;
	}

	.content {
    width: 85%;
    border: solid 2px #dddddd;
    float: none;
    margin: 75px auto;
    padding: 5%;
	}
	.connect {
    width: 85%;
    border: solid 2px #dddddd;
    float: none;
    margin: 75px auto;
    padding: 5%;
	}
}
/* WHen the screen is smaller than 640p */
@media screen and (max-width: 640px) {
	header {
		position: static;
	}
	.container {
		margin: auto;
		width: 100%;
	}
	/* Makes the header even with centered text */
	h1 {
		text-align: center;
		width: 100%;
		padding: 10px 0px !important;
	}
	/* changes the navbar to be helow the main heading */
	nav {
		display: flex;
		justify-content: space-around;
		background-color: #FFFFFF;
		width: 100%;
		text-align: center;
		margin: 0px auto;
		float: none;
		border-bottom: solid 2px #cccccc;
		box-shadow: 3px 3px 10px #666972;
	}
	.active {
		padding: 0px;
	}
	/* changes size for my face on picture */
	#face {
		width: 100%;
		display: inline;
	}
	/*Establishes font size for readability on phone */
	p {
		display: block;
	}
	/* Makes the floating header stop from being transparent or scrolling */
	body.scrolled #main-menu {
	opacity: 1;
	position: static;
	width: 100%;
}
}